html {
    background-color:#141414;
    height: 200vw;
    font-family: Arial, Helvetica, sans-serif;
    padding-top:4vh;
    overflow: visible;
    min-width:320px;
}

h1 {
    color:aquamarine;
}

table {
    width:1920px;
    overflow-x:scroll;
}

td {
    width:100px;
    height:100px;
    border: 1px solid wheat;
    background-color: #868686;
}

input.fieldChoice {
    width:20px;
    height:40px;
}


/* this stuff is for the loading symbol that appears before the csv import finishes */

.lds-dual-ring {
    display: inline-block;
    width: 80px;
    height: 80px;
  }
.lds-dual-ring:after {
    content: " ";
    display: block;
    width: 64px;
    height: 64px;
    margin: 8px;
    border-radius: 50%;
    border: 6px solid #fff;
    border-color: #fff transparent #fff transparent;
    animation: lds-dual-ring 1.2s linear infinite;
}
@keyframes lds-dual-ring {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}